<h1>Show Transaction</h1>

<ul>

  <li>
    <strong>Value:</strong>
    <%= @transaction.value %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.transaction_path(@conn, :edit, @transaction) %></span> |
<span><%= link "Back", to: Routes.transaction_path(@conn, :index) %></span>
