<h1>Show Transaction</h1>

<ul>

  <li>
    <strong>Amount:</strong>
    <%= @transaction.value %>
  </li>
  <li>
    <strong>From:</strong>
    <%= @from_user.email %>
  </li>
  <li>
    <strong>To:</strong>
    <%= @to_user.email %>
  </li>

</ul>

<span><%= link "Back", to: Routes.transaction_path(@conn, :index) %></span>
